body {
  background: #34495e;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "montserrat", sans-serif;
}

.loader {
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 10px solid #e74c3c;
  position: relative;
  animation: a1 2s linear infinite;

}

.loader::before, 
.loader::after {
  content: '';
  width: 200px;
  height: 200px;
  position: absolute;
  left: 0;
  top: -10px;
  box-sizing: border-box;
  border-radius: 50%;
}

.loader::before {
  border-top: 10px solid #e67e22;
  transform: rotate(120deg);
}

.loader::after {
  border-top: 10px solid #3498db;
  transform: rotate(240deg);
}

.loader span {
  position: absolute;
  width: 200px;
  height: 200px;
  color: #fff;
  text-align: center;
  line-height: 200px;
  animation: a2 2s linear infinite;
}

.main p {
  font-size: 20px;
  color: #bdc3c7;
}

.btn {
  background: #e67e22;
  color: #ecf0f1;
}


@keyframes a1 {
  to {
    transform: rotate(360deg);
  }
}

@keyframes a2 {
  to {
    transform: rotate(-360deg);
  }
}